<% content_for :title, "Categories" %>

<div class="container">
  <h1>Browse Categories</h1>

  <ul class="category-list">
    <% @categories.each do |category| %>
      <li>
        <%= link_to category.name, category_path(category), class: "category-link" %>
      </li>
    <% end %>
  </ul>
</div>
